<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="main-container">

        <div class="image-preview">
            <img src="/static/assets/abydos.jpeg" alt="arisu">
            <video paused loop muted playsinline aria-hidden="true">
                <source src="/static/assets/abydos.webm" type="video/webm">
            </video>
            <span class="overlay">
                <div class="desc">
                    <h1>Abydos High Schoool</h1>
                    <p style="text-align: justify;">
                        Once the longest running school Kivotos, Abydos High School is now in debt.
                        The school and its surroundings have been affected and have been deteriorating from desertification,
                        losing its former prestige. Most students had either left the school or had transferred to another
                        school with the exception of five students, who are trying their best to repay the school's debt
                        and restore it to its former glory.
                    </p>
                </div>
            </span>
        </div>
        
        <div class="image-preview">
            <img src="/static/assets/hoshino.jpeg" alt="arisu">
            <video paused loop muted playsinline aria-hidden="true">
                <source src="/static/assets/hoshino.webm" type="video/webm">
            </video>
            <span class="overlay">
                <div class="desc">
                    <h1>Hoshino</h1>
                    <p style="text-align: justify;">
                        The Abydos Student Council vice president and president of the Foreclosure Task Force. 
                        Acts more like a tired old timer and would rather play pranks than do actual work. 
                        This often gets her into trouble with her fellow task force members, but once on a mission, 
                        she fights harder on the front lines than anyone else to keep her friends safe.
                    </p>
                </div>
            </span>
        </div>
        
        <div class="image-preview">
            <img src="/static/assets/nonomi.jpeg" alt="hibiki">
            <video paused loop muted playsinline aria-hidden="true">
                <source src="/static/assets/nonomi.webm" type="video/webm">
            </video>
            <span class="overlay">
                <div class="desc">
                    <h1>Nonomi</h1>
                    <p style="text-align: justify;">
                        A member of the Abydos Foreclosure Task Force. A friendly, pleasant girl that provides 
                        the Foreclosure Task Force with much-needed emotional support to balance out the extreme 
                        personalities of its other members. Though she doesn't show it, she comes from a wealthy 
                        family and pays for nearly all of the Foreclosure Task Force's snacks out of her own pocket.
                    </p>
                </div>
            </span>
        </div>
        
        <div class="image-preview">
            <img src="/static/assets/shiroko.jpeg" alt="kotama">
            <video paused loop muted playsinline aria-hidden="true">
                <source src="/static/assets/shiroko.webm" type="video/webm">
            </video>
            <span class="overlay">
                <div class="desc">
                    <h1>Shiroko</h1>
                    <p style="text-align: justify;">
                        The sporty field captain of the Abydos Foreclosure Task Force. A girl of few words 
                        and almost no facial expression, Shiroko gives the impression of being frigid and emotionless. 
                        In truth, she is more devoted to Abydos High School than anything else. If it's for the sake 
                        of revitalizing the academy, she'll do whatever it takes and sometimes propose some outlandish 
                        ideas herself.
                    </p>
                </div>
            </span>
        </div>
        
        <div class="image-preview">
            <img src="/static/assets/serika.jpeg" alt="mel">
            <video paused loop muted playsinline aria-hidden="true">
                <source src="/static/assets/serika.webm" type="video/webm">
            </video>
            <span class="overlay">
                <div class="desc">
                    <h1>Serika</h1>
                    <p style="text-align: justify;">
                        The conscientious treasurer of the Abydos Foreclosure Task Force. Serika nags a lot 
                        and does not hesitate to let her opinions be known. Despite her habit of bashing the academy, 
                        saying, "To hell with this academy!" she is secretly quite devoted to it and even works 
                        part-time jobs to try and help pay off the academy's debts.
                    </p>
                </div>
            </span>
        </div>
        
        <div class="image-preview">
            <img src="/static/assets/ayane.jpeg" alt="hare">
            <video paused loop muted playsinline aria-hidden="true">
                <source src="/static/assets/ayane.webm" type="video/webm">
            </video>
            <span class="overlay">
                <div class="desc">
                    <h1>Ayane</h1>
                    <p style="text-align: justify;">
                        The diligent secretary of the Abydos Foreclosure Task Force. A hard-working stickler 
                        for rules and regulations, she does her best to contribute to the revitalization of Abydos High School.
                    </p>
                </div>
            </span>
        </div>
        
        
        
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="/static/js/script.js"></script>
</body>
</html>
